<my-sidebar></my-sidebar>
      
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="main-content"  style="background-color: #f1f0f0;" >

<main class="col-md-2 ms-sm-auto col-lg-10 px-md-6"  >

  <section  class="row d-flex justify-content-center align-items-center h-25">
    <div class="col col-xl-10 " >
<div id="contact" class="contact-area section-padding">
	<div class="container mb-0  bg-white p-4 shadow-sm">									
    <br>	
		<div class="section-title text-center">
			<h2>SEND SMS</h2>
		</div>					
    <div class="row">
      <div class="col-md-12">
				<div class="contact ">
					<form class="form"  >
						<div class="row">
							<div class="form-group col-md-12">
								<input type="text" name="title" class="form-control" placeholder="Title" required="required">
							</div>
							<div class="form-group col-md-12">
								<input type="email" name="mobile" class="form-control" placeholder="Mobile" required="required">
							</div>
							<div class="form-group col-md-12">
								<input type="datetime-local" name="date" class="form-control" placeholder="Date" required="required">
							</div>
							<div class="form-group col-md-12">
								<textarea rows="6" name="content" class="form-control" placeholder="Your Message" required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->	
</div>
</div>
    </div>
  </section>
</main>
