<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

  <header class="  bg-dark">
    <div class="container ">
        
      <div class="d-flex flex-wrap align-items-center  justify-content-lg-end ">
      
        <div class="dropdown text-end"style="left: 1150;">
          <a  class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{image}}" alt="picture"   class="rounded-circle" >
          

          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" >
          
            <li><a class="dropdown-item" (click)="onclick()" >Profile </a> </li>
            <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
</header>

<div class="sidebarMenu bg-dark" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">

	<div class="sideBarUst text-center pt-3">
		<div class="userFoto mb-2" [ngClass]="status ? 'userFotoDar' : 'userFotoGenis'">    
               <img src="/assets/cb.png" class="rounded-circle" type="button" (click)="clickEvent()"/>

        </div>

		<div class="userInfo mt-3">
			
	
		</div>


	</div>

	<div  id="sidebarMenu" >
    <div class="list-group list-group-flush mx-3 mt-4">
    
		<ul class="nav flex-column">

			<li class="nav-item">
				<a class="nav-link active"  href="http://localhost:4200/acceuil">
					<i class="fas fa-chart-area fa-fw me-3"></i>
					<span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Dashboard</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  href="http://localhost:4200/listuser">
					<i class="fas fa-user-circle fa-fw me-3" ></i
                        >
                       
					<span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Users</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  href="http://localhost:4200/jeux">
					<i class="fas  fa-regular fa-gamepad fa-fw me-3" ></i
                        >
					<span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Services </span>
				</a>
			</li>
            <li class="nav-item">
				<a class="nav-link"  href="http://localhost:4200/table">
					<i class="fas fa-regular fa-users fa-fw me-3" ></i
                        >
					<span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Players </span>
				</a>
			</li>
            <li class="nav-item">
				<a class="nav-link"  href="http://localhost:4200/outbox">
					<i class="fas fa-regular fa-table fa-fw me-3"></i>
					<span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> outbox </span>
				</a>
			</li>
            <li class="nav-item">
				<a class="nav-link"  href="http://localhost:4200/sms">
					<i class="fas fa-paper-plane fa-fw me-3"></i
                        >
					<span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">send SMS </span>
				</a>
			</li>

		</ul>
            
	
	</div>
 
</div>


</div>
